:root{
    --claro-bg-color: #ebf2f2;
    --claro2-bg-color: #d0f2e7;
    --medio-bg-color: #bcebdf;
    --escuro-bg-color: #ade0db;
}

body{
    background-color: var(--escuro-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#app{
    width: 500px;
    background-color: var(--claro-bg-color);
    margin-top: 100px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 40px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 15px
}

input{
    text-align: center; 
    padding-left: 10px;
    margin-left: 112px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}

/* Estilos para a lista de tarefas */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 400px; /* Largura máxima da lista */
    margin: 0 auto; /* Centralizar a lista na página */
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--claro-bg-color); /* Cor de fundo das tarefas */
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para a checkbox personalizada */
  input[type="checkbox"] {
    appearance: none; /* Remover estilos padrão da checkbox */
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc; /* Borda da checkbox */
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color:var(--escuro-bg-color); /* Cor de fundo quando marcado como concluído */
    border: 1px solid var(--escuro-bg-color); /* Borda quando marcado como concluído */
    color: black; /* Cor do ícone de marcação */
  }
  
  /* Estilos para os botões */
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--escuro-bg-color); /* Cor de fundo dos botões */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:var(--claro2-bg-color); /* Cor de fundo dos botões ao passar o mouse */
  }
